@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700&family=Roboto:wght@100;300;400;500;700&display=swap");
body {
  background-color: #e5e5e5;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  color: #212121;
  margin: 0;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
header .logo a {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  color: #2196f3;
}
header .menu a,
.contacts a {
  font-weight: 500;
  font-size: 14px;
  color: #212121;
}
header .menu a:hover {
  color: #2196f3;
}
button:hover {
  background-color: #2196f3;
  cursor: pointer;
}
header .contacts a:hover {
  color: #2196f3;
}

main .title {
  background-color: #2f303a;
  font-weight: 900;
  color: #ffffff;
}

main .content-title {
  font-weight: 700;
  font-size: 14px;
  color: #212121;
}

.content {
  font-weight: 400;
  font-size: 14px;
  color: #757575;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  color: #212121;
}

.our-team {
  font-weight: 700;
  font-size: 36px;
  color: #212121;
  background-color: #f5f4fa;
}

.name {
  font-weight: 500;
  font-size: 16px;
  color: #212121;
}

.profession {
  font-weight: 400;
  font-size: 16px;
  color: #757575;
}

.button-filter-button {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #212121;
}
.images-portafolio {
  font-weight: 700;
  font-size: 18px;
  color: #212121;
}

.image-description {
  font-weight: 400;
  font-size: 16px;
  color: #757575;
}

footer {
  background-color: #2f303a;
}
footer .contacts {
  font-weight: 400;
  font-size: 14px;
  color: #ffffff;
}

footer .logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  color: #2196f3;
}

button:hover {
  background-color: #2196f3;
  cursor: pointer;
}
