@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700&family=Roboto:wght@100;300;400;500;700&display=swap");

:root {
  --brand-color: #2196f3;
  --text-color: #212121;
  --background-color: #2f303a;
}

body {
  background-color: #ffffff;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  color: var(--text-color);
  margin: 0;
  line-height: 1em;
}

a {
  text-decoration: none;
  color: inherit;
}
li {
  list-style: none;
}
.button:focus {
  color: var(--brand-color);
}
.link:focus {
  color: var(--brand-color);
}
.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1;
  color: var(--brand-color);
}
.link {
  font-weight: 500;
  line-height: 1.2;
  color: var(--text-color);
  cursor: pointer;
}
.current {
  color: var(--brand-color);
}
.link-contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  color: #757575;
}
.button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  color: #ffffff;
  background-color: blue;
}
button:hover {
  background-color: #2196f3;
  cursor: pointer;
}
.link-contacts:hover,
.link-contacts:focus {
  color: var(--brand-color);
}
.link:hover {
  color: var(--brand-color);
}

main .title {
  font-weight: 900;
  color: #ffffff;
  line-height: 1.3;
}
.hero {
  background-color: var(--background-color);
}

main .content-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
}

.content {
  font-size: 14px;
  color: #757575;
  line-height: 1.7;
  font-weight: 400;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
}

.our-team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
}
.fondo {
  background-color: #f5f4fa;
}
.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1;
  color: var(--text-color);
}

.profession {
  font-size: 16px;
  color: #757575;
  line-height: 1.1;
}

.filter-button {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  color: #212121;
  line-height: 1.6;
  border: none;
  border-radius: 4px;
}
.button-blue {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  border: none;
  border-radius: 4px;
  background-color: #2196f3;
  color: #ffffff;
}
.images-portafolio {
  font-size: 18px;
  line-height: 2;
}
.images-portafolio > li {
  cursor: pointer;
}
.image-description {
  font-size: 16px;
  color: #757575;
  line-height: 1.8;
}

footer {
  background-color: #2f303a;
}
.contacts-footer {
  font-size: 14px;
  color: #ffffff;
  line-height: 1.7;
  font-family: "Roboto";
}

footer .logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1;
  color: var(--brand-color);
}
address {
  font-style: normal;
}
.contacts-footer:hover,
.contacts-footer:focus {
  color: var(--brand-color);
  cursor: pointer;
}

.filter-button:hover {
  background-color: #2196f3;
  color: #ffffff;
  cursor: pointer;
}
